---
import Layout from "../layouts/Layout.astro";
import FormEmail from "../components/FormEmail";
---

<Layout title="Welcome to Astro.">
  <main class="container bg-gray-200 rounded flex-1 py-12 px-8">
    <h1 class="font-semibold font-serif text-3xl mb-8">
      Generador de email firma
    </h1>
    <FormEmail client:load />
  </main>
</Layout>

<style></style>
